/* reset code starts */
:root {
    --primaryColor:#9EAD2D;
    --secondaryColor: #F3F3F3;
    --defaultMargin: 0px 50px 0px 50px ;

  }
  
  * {
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  img {
    width: 100px;
    height: auto;
  }
  
  .flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
/* reset code ends */

/* navbar start here  */
nav {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .nav_upper {
    max-height: 100vh;
    padding: 0.4rem;
    text-align: center;
    margin: var(--defaultMargin) ;
  }


  .nav_list:hover{
    text-transform: capitalize;
    color: orange;
  }
  .nav_link {
    color: var(--primaryColor);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    transition: all .3s;
    color: var(--primaryColor);
  }
  .nav_link:hover {
    color: olivedrab;
    text-decoration: none;
  }
.search_box{
  position: relative;
}
.search_box input {
  width: 250px;
  font-size: 1rem;
  padding: 10px 10px;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.4s ease-in-out;
}
.search_box input:focus{
  width: 370px;
}
.search_box i{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}
  /* start nav lower design */
  .nav_lower {
    padding: 1rem;
    text-transform: capitalize;
    text-align: center;
    background-color: var(--secondaryColor);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.11);

  }
  .nav_lower .nav_link {
    color: #000;
    text-decoration: none;
    margin: 30px;
  }
  .nav_lower .nav_link:hover {
    color: var(--primaryColor);
    text-decoration: none;
    border-bottom: orange 1px solid;
  }
    /* ends nav lower design */

  /* navbar ends here  */


/* responsive starts */

@media screen, (max-width:992px) {
    .nav_lower {
        display: flex;
        flex-wrap: wrap;      
    }
    
  }
  @media (max-width:514px) {
    .nav_lower {
       flex-direction: column;
       justify-items: center;
       width: 300px;

    }
    .nav_upper{
        margin: 0px 0px 0px 50px;
    }

    .search_box input{
        width: 200px;
      }
      .search_box input:focus{
        width: 200px;
      }
  
  }
    
  @media (max-width:420px) {
    .nav_lower {
       flex-direction:column ;
       width: 250px;

    }
    .nav_upper{
        width: 100px;
    }
    .nav_list{
        margin-top: 10px;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-self: center;
    }
    .branding{
        width: 60px;
    }
    .search_box input{
        width: 160px;
    }
    .search_box input:focus{
        width: 160px;
    }
   
  }
  @media (max-width:300px) {

    .nav_lower {
       flex-direction:column ;
       width: 250px;
    }
    
    .nav_upper{
        display: flex;
        justify-content: space-between;
    }
    .nav_list{
        margin-top: 10px;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
        justify-items: center;
        align-self: center;
    }
    .branding{
        width: 30px;
        margin-left: -20px;
    }
    .search_box input{
        width: 140px;
    }
   .search_box i{
    display: none;
   }
   
  }
/* responsive ends */