/* reset code start here */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --darkBlue:#213547;
  --bgcolor:#1a1a1a;
  --primaryColor:#9EAD2D;
  --secondaryColor: #F3F3F3;
  --defaultMargin: 0px 50px 0px 50px ;
  --boxShadow:0px 2px 5px rgba(0, 0, 0, 0.11);
}
* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}

/* reset code ends here  */